services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - ".:/app"
    ports:
      - 5001:5000
    environment:
      - FLASK_APP=project/__init__.py
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - APP_SETTINGS=project.config.DevelopmentConfig
      - DATABASE_URL=sqlite:///app.db
      - DATABASE_TEST_URL=sqlite:///app.db
    command: python manage.py run -h 0.0.0.0
